* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  display: grid;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(199deg, rgba(108, 37, 154, 0.5) 0%, rgba(108, 37, 154, 0.5) 14.286%,rgba(92, 53, 164, 0.5) 14.286%, rgba(92, 53, 164, 0.5) 28.572%,rgba(75, 70, 174, 0.5) 28.572%, rgba(75, 70, 174, 0.5) 42.858%,rgba(59, 86, 185, 0.5) 42.858%, rgba(59, 86, 185, 0.5) 57.144%,rgba(42, 102, 195, 0.5) 57.144%, rgba(42, 102, 195, 0.5) 71.43%,rgba(26, 119, 205, 0.5) 71.43%, rgba(26, 119, 205, 0.5) 85.716%,rgba(9, 135, 215, 0.5) 85.716%, rgba(9, 135, 215, 0.5) 100.002%),linear-gradient(213deg, rgb(22, 162, 134) 0%, rgb(22, 162, 134) 14.286%,rgb(37, 142, 144) 14.286%, rgb(37, 142, 144) 28.572%,rgb(52, 122, 154) 28.572%, rgb(52, 122, 154) 42.858%,rgb(68, 103, 164) 42.858%, rgb(68, 103, 164) 57.144%,rgb(83, 83, 174) 57.144%, rgb(83, 83, 174) 71.43%,rgb(98, 63, 184) 71.43%, rgb(98, 63, 184) 85.716%,rgb(113, 43, 194) 85.716%, rgb(113, 43, 194) 100.002%);
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
header {
  font-size: 5rem;
  padding: 1rem;
  margin: auto;
  position: relative;
  color: white;
  /* font-family: "Digital-7", monospace; */
  animation: move 1s linear 1;
  text-align: center;
  animation-play-state: running;
}

header:before{
  position: absolute;
  width: 1px;
  height: 2px;
  background-color: whitesmoke;
  bottom: 0px;
  left: 0px;
}
header:hover::before{
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: whitesmoke;
  bottom: 0px;
  left: 0px;
  background-color: wheat;
}

.calci {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  overflow: hidden;
  max-width: 500px;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5pt;
  backdrop-filter: blur(10px);
  background-color: white;
  color: #6a95ed;
  box-shadow: 2px 2px 5px white;
  transition: all 0.4s linear;
}


.number {
  width: 100%;
  height: 3.5rem;
  cursor: text;
  font-family: "Digital-7", monospace;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: end;
  padding: 1rem 2rem;
  border-top-right-radius: 5pt;
  border-top-left-radius: 5pt;
  backdrop-filter: filter(5px);
  background-color: hsla(255, 100%, 100%, 0.15);
  transition: all 0.4s linear;
}
@keyframes move {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.btn {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  background: hsla(255, 100%, 100%, 0.15);
  grid-template-columns: repeat(4, 1fr);
  border-bottom-left-radius: 5pt;
}
hr{
  width: 92%;
  margin: auto;
}
.btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.25rem;
  color: #6a95ed;
  box-shadow: 0px 0px 6px white, -4px -4px 6px hsla(255, 100%, 100%, 0.45);
  text-align: center;
  border-radius: 5pt;
  cursor: pointer;
  animation: move 1s ease-in 1;
  font-family: "Digital-7";
  transition: all 0.2s alternate;
  background-color: white;
  box-shadow: 0px 0px 6px white, 2px 2px 4px hsla(0, 100%, 0%, 0.45);
  /* border: solid 0.1pt hsla(255, 10%, 100%, 0.45); */
}
span.op{
  border-radius: 0 1rem;
  background-color: #6a95ed;
  color: white;
}
span.fn{
  border-radius: 50%;
  color:white;
  font-size: larger;
  padding: 0.5rem ;
  background-color: darkorchid;
}
.btn span:hover {
  color:darkslateblue;
  backdrop-filter: blur(5px);
  background: #f0f0f0;
  box-shadow: 0px 0px 6px white,inset 2px 2px 4px hsla(0, 100%, 0%, 0.45);
}
