@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/* CSS Variables for reusability and consistency */
:root {
    --font-family: 'Poppins', sans-serif;
    --color-gradient: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
    --color-background: hsla(255,100%,100%,0.35);
    --color-shadow-light: rgba(255, 255, 255, 0.45);
    --color-shadow-dark: rgba(0, 0, 0, 0.45);
    --color-icon-hover: #FF057C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%); */
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
    padding: 10px;
}

.container::before,
.container::after {
    position: absolute;
    content: "";
    z-index: 0;
    width: 16rem;
    height: 16rem;
    backdrop-filter: blur(5px);
    background: hsla(0,0%,0%,0.1);
    border-radius: 25pt;
    animation: moveShape 1s linear infinite;
}

.container::before {
    top: 0;
    left: 0;
    box-shadow: inset 2px 2px 5px var(--color-shadow-light), inset 12px 12px 15px var(--color-shadow-dark);
    animation: up-down 5s alternate-reverse infinite;
  }
  @keyframes up-down {
      50%{
          border-radius: 50%;
          box-shadow: inset 2px 2px 5px hsla(255,100%,100%,0.45),inset -12px -12px 15px hsla(0,100%,0%,0.45);
          transform: translateY(60%) scale(-2)  translateX(-150%);
      }
  }    
  

.container::after {
    bottom: 0;
    right: 0;
    border-radius: 5pt;
    box-shadow: 2px 2px 5px hsla(255,100%,100%,0.45),-12px -12px 15px hsla(0,100%,0%,0.45);
    animation: down-up 5s alternate-reverse infinite;
}
@keyframes down-up {
    50%{
        border-radius: 50%;
        box-shadow: inset 2px 2px 5px hsla(255,100%,100%,0.45),inset -12px -12px 15px hsla(0,100%,0%,0.45);
        transform: translateY(-60%) scale(-2)  translateX(150%);
    }
}
.todo-app {
    z-index: 1;
    width: 100%;
    max-width: 540px;
    padding: 2rem;
    backdrop-filter: blur(5px);
    background: white;
    margin: auto;
    box-shadow: -2px -2px 1px var(--color-shadow-light), 2px 2px 1px var(--color-shadow-dark);
    border-radius: 50pt;
    animation: border 1s linear infinite;
}

@keyframes border {
    0% { border-radius: 10pt; }
    50% { border-radius: 50pt 75pt; }
    100% { border-radius: 10pt 20pt 40pt 80pt / 80pt 60pt 10pt 20pt; }
}

.todo-app::before
{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50pt ;
    /* background: repeating-linear-gradient(#4CC3FF 0%, #5BA6F2 30%, #7C64D5 40%, #FF057C 60%); */
    /* background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%); */
    background-image: linear-gradient(225deg,#650CD7,#4E58D6,#4F6CD7,#509AD9,white);
    animation: spin 5s steps(10) infinite;
}
.todo-app::after {
  content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50pt ;
    background-image: linear-gradient(225deg,#650CD7,#4E58D6,#4F6CD7,#509AD9,white);
    animation: spin2 5s steps(10) infinite;

}
.todo-app::before {
    top: 0;
    right: 0;
    /* animation-direction: normal; */
    /* animation-direction: alternate-reverse; */
}

.todo-app::after {
    bottom: 0;
    left: 0;
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
}
@keyframes spin2{
  0%{
    transform: translate(0px,0px);
  }
  20%{
    transform: translate(500px,0px) ;
  }
  40%{
    transform: translate(500px,-220px) ;
  }
  60%{
    transform: translate(-0px,-220px) ;
  }
  80%{
    transform: rotate(56400deg) translate(0px,0px);
  }
  100%{
    transform: translate(0px,0px);
  }
}

@keyframes spin{
  0%{
    transform: translate(0px,0px);
  }
  20%{
    transform: translate(-500px,0px) ;
  }
  40%{
    transform: translate(-500px,220px) ;
  }
  60%{
    transform: translate(50px,220px) ;
  }
  80%{
    transform: rotate(56400deg) translate(0px,0px);
  }
  100%{
    transform: translate(0px,0px);
  }
}

.todo-app span {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Courier",monospace;
    margin: auto  auto 1rem auto;
    width: max-content;
    color: transparent;
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
}

.todo-app span img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: hsla(255,100%,100%,0.65);
    border-radius: 5pt;
    padding-left: 20px;
    margin-bottom: 25px;
    transition: all 0.2s linear;
    box-shadow: -5px -5px 10px var(--color-shadow-dark), 5px 5px 10px var(--color-shadow-light);
}

input {
    flex: 1;
    border: none;
    outline: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #AA43B6;
    background: transparent;
    padding: 14px 10px;
    font-size: 18px;
    transition: all 0.2s linear;
}

button {
  display: grid;
    border: none;
    outline: none;
    padding: 16px 20px;
    margin: auto;
    background-image: var(--color-gradient);
    color: #fff;
    font-size: 16px;
    border-radius: 5pt;
    cursor: pointer;
    transition: all 0.2s linear;
}

button:hover {
    background-image: linear-gradient(-225deg, #4CC3FF 0%, #7C64D5 48%, #FF057C 100%);
}

ul {
    max-height: 200px;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-image: var(--color-gradient);
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    backdrop-filter: blur(5px);
    background-image: var(--color-gradient);
    border-radius: 1rem;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 45px;
    user-select: none;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 40px;
    position: relative;
    transition: all 0.2s linear;
}

ul li::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
}

ul li.checked::before {
    background-image: url("./images/check_circle.svg");
}

ul li span {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 34px;
    color: #6494EB;
    line-height: 40px;
    text-align: center;
    transition: all 0.1s linear;
}

ul li span:hover {
    border-radius: 50%;
    color: var(--color-icon-hover);
    background: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .todo-app {
        padding: 1.5rem;
        max-width: 90%;
    }

    .row {
        flex-direction: column;
        padding-left: 10px;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}
