* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  display: grid;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(circle at bottom center, rgb(31, 165, 212) 0%, rgb(31, 165, 212) 4%,rgb(38, 152, 211) 4%, rgb(38, 152, 211) 8%,rgb(46, 139, 209) 8%, rgb(46, 139, 209) 12%,rgb(53, 127, 208) 12%, rgb(53, 127, 208) 16%,rgb(60, 114, 206) 16%, rgb(60, 114, 206) 20%,rgb(68, 101, 205) 20%, rgb(68, 101, 205) 24%,transparent 24%, transparent 100%),radial-gradient(circle at top center, rgb(31, 165, 212) 0%, rgb(31, 165, 212) 3%,rgb(38, 152, 211) 3%, rgb(38, 152, 211) 9%,rgb(46, 139, 209) 9%, rgb(46, 139, 209) 12%,rgb(53, 127, 208) 12%, rgb(53, 127, 208) 15%,rgb(60, 114, 206) 15%, rgb(60, 114, 206) 18%,rgb(68, 101, 205) 18%, rgb(68, 101, 205) 21%,transparent 21%, transparent 100%),radial-gradient(circle at center left, rgb(31, 165, 212) 0%, rgb(31, 165, 212) 3%,rgb(38, 152, 211) 3%, rgb(38, 152, 211) 9%,rgb(46, 139, 209) 9%, rgb(46, 139, 209) 12%,rgb(53, 127, 208) 12%, rgb(53, 127, 208) 15%,rgb(60, 114, 206) 15%, rgb(60, 114, 206) 18%,rgb(68, 101, 205) 18%, rgb(68, 101, 205) 21%,transparent 21%, transparent 100%),radial-gradient(circle at center right, rgb(31, 165, 212) 0%, rgb(31, 165, 212) 3%,rgb(38, 152, 211) 3%, rgb(38, 152, 211) 9%,rgb(46, 139, 209) 9%, rgb(46, 139, 209) 12%,rgb(53, 127, 208) 12%, rgb(53, 127, 208) 15%,rgb(60, 114, 206) 15%, rgb(60, 114, 206) 18%,rgb(68, 101, 205) 18%, rgb(68, 101, 205) 21%,rgb(75, 88, 203) 21%, rgb(75, 88, 203) 100%);
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
header {
  font-size: 5rem;
  padding: 1rem;
  margin: auto;
  position: relative;
  color: white;
  /* font-family: "Digital-7", monospace; */
  animation: move 1s linear 1;
  text-align: center;
  animation-play-state: running;
}

header:before{
  position: absolute;
  width: 1px;
  height: 2px;
  background-color: whitesmoke;
  bottom: 0px;
  left: 0px;
}
header:hover::before{
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: whitesmoke;
  bottom: 0px;
  left: 0px;
  background-color: wheat;
}

.calci {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  overflow: hidden;
  max-width: 500px;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5pt;
  backdrop-filter: blur(10px);
  background-color: white;
  color: #6a95ed;
  box-shadow: 2px 2px 5px white;
  transition: all 0.4s linear;
}


.number {
  width: 100%;
  cursor: text;
  font-family: "Digital-7", monospace;
  overflow: hidden;
  display: flex;
  margin: auto;
  flex-direction: row;
  font-size: 2rem;
  justify-content: end;
  padding: 0.5rem 2rem;
  backdrop-filter: filter(5px);
  background-color: hsla(255, 100%, 100%, 0.15);
  transition: all 0.4s linear;
}
@keyframes move {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.btn {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  background: hsla(255, 100%, 100%, 0.15);
  grid-template-columns: repeat(4, 1fr);
  border-bottom-left-radius: 5pt;
}
hr{
  width: 92%;
  margin: auto;
}
.btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.25rem;
  color: #6a95ed;
  box-shadow: 0px 0px 6px white, -4px -4px 6px hsla(255, 100%, 100%, 0.45);
  text-align: center;
  border-radius: 5pt;
  cursor: pointer;
  animation: move 1s ease-in 1;
  font-family: "Digital-7";
  transition: all 0.2s alternate;
  background-color: white;
  box-shadow: 0px 0px 6px white, 2px 2px 4px hsla(0, 100%, 0%, 0.45);
  /* border: solid 0.1pt hsla(255, 10%, 100%, 0.45); */
}
span.op{
  border-radius: 0 1rem;
  background-color: #6a95ed;
  color: white;
}
span.fn{
  border-radius: 50%;
  color:white;
  font-size: larger;
  padding: 0.5rem ;
  background-color: darkorchid;
}
.btn span:hover {
  color:darkslateblue;
  backdrop-filter: blur(5px);
  background: #f0f0f0;
  box-shadow: 0px 0px 6px white,inset 2px 2px 4px hsla(0, 100%, 0%, 0.45);
}
